<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TextBundle.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>全国公交车站站点查询.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>811A38331C1EEBB6008A5931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811A384B1C1EEBB6008A5931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>811A38561C1EEBB6008A5931</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>814BC29D1C1AB331009070CF</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
