<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>010</key>
	<string>北京市</string>
	<key>020</key>
	<string>广州市</string>
	<key>021</key>
	<string>上海市</string>
	<key>022</key>
	<string>天津市</string>
	<key>023</key>
	<string>重庆市</string>
	<key>024</key>
	<string>沈阳市</string>
	<key>025</key>
	<string>南京市</string>
	<key>027</key>
	<string>武汉市</string>
	<key>028</key>
	<string>成都市</string>
	<key>029</key>
	<string>西安市</string>
	<key>0310</key>
	<string>邯郸市</string>
	<key>0311</key>
	<string>石家庄</string>
	<key>0312</key>
	<string>保定市</string>
	<key>0313</key>
	<string>张家口</string>
	<key>0314</key>
	<string>承德市</string>
	<key>0315</key>
	<string>唐山市</string>
	<key>0316</key>
	<string>廊坊市</string>
	<key>0317</key>
	<string>沧州市</string>
	<key>0318</key>
	<string>衡水市</string>
	<key>0319</key>
	<string>邢台市</string>
	<key>0335</key>
	<string>秦皇岛</string>
	<key>0350</key>
	<string>忻州市</string>
	<key>0351</key>
	<string>太原市</string>
	<key>0352</key>
	<string>大同市</string>
	<key>0353</key>
	<string>阳泉市</string>
	<key>0354</key>
	<string>榆次市</string>
	<key>0355</key>
	<string>长治市</string>
	<key>0356</key>
	<string>晋城市</string>
	<key>0357</key>
	<string>临汾市</string>
	<key>0358</key>
	<string>离石市</string>
	<key>0359</key>
	<string>运城市</string>
	<key>0370</key>
	<string>商丘市</string>
	<key>0371</key>
	<string>郑州市</string>
	<key>0372</key>
	<string>安阳市</string>
	<key>0373</key>
	<string>新乡市</string>
	<key>0374</key>
	<string>许昌市</string>
	<key>0375</key>
	<string>平顶山</string>
	<key>0376</key>
	<string>信阳市</string>
	<key>0377</key>
	<string>南阳市</string>
	<key>0378</key>
	<string>开封市</string>
	<key>0379</key>
	<string>洛阳市</string>
	<key>0391</key>
	<string>焦作市</string>
	<key>0392</key>
	<string>鹤壁市</string>
	<key>0393</key>
	<string>濮阳市</string>
	<key>0394</key>
	<string>周口市</string>
	<key>0395</key>
	<string>漯河市</string>
	<key>0396</key>
	<string>驻马店</string>
	<key>0398</key>
	<string>三门峡</string>
	<key>0410</key>
	<string>铁岭市</string>
	<key>0411</key>
	<string>大连市</string>
	<key>0412</key>
	<string>鞍山市</string>
	<key>0413</key>
	<string>抚顺市</string>
	<key>0414</key>
	<string>本溪市</string>
	<key>0415</key>
	<string>丹东市</string>
	<key>0416</key>
	<string>锦州市</string>
	<key>0417</key>
	<string>营口市</string>
	<key>0418</key>
	<string>阜新市</string>
	<key>0419</key>
	<string>辽阳市</string>
	<key>0421</key>
	<string>朝阳市</string>
	<key>0427</key>
	<string>盘锦市</string>
	<key>0429</key>
	<string>葫芦岛</string>
	<key>0431</key>
	<string>长春市</string>
	<key>0432</key>
	<string>吉林市</string>
	<key>0433</key>
	<string>延吉市</string>
	<key>0434</key>
	<string>四平市</string>
	<key>0435</key>
	<string>通化市</string>
	<key>0436</key>
	<string>白城市</string>
	<key>0437</key>
	<string>辽源市</string>
	<key>0438</key>
	<string>松原市</string>
	<key>0439</key>
	<string>浑江市</string>
	<key>0440</key>
	<string>珲春市</string>
	<key>0450</key>
	<string>阿城市</string>
	<key>0451</key>
	<string>哈尔滨</string>
	<key>0452</key>
	<string>齐齐哈尔</string>
	<key>0453</key>
	<string>牡丹江</string>
	<key>0454</key>
	<string>佳木斯</string>
	<key>0455</key>
	<string>绥化市</string>
	<key>0456</key>
	<string>黑河市</string>
	<key>0457</key>
	<string>加格达奇</string>
	<key>0458</key>
	<string>伊春市</string>
	<key>0459</key>
	<string>大庆市</string>
	<key>0470</key>
	<string>海拉尔</string>
	<key>0471</key>
	<string>呼和浩特</string>
	<key>0472</key>
	<string>包头市</string>
	<key>0473</key>
	<string>乌海市</string>
	<key>0474</key>
	<string>集宁市</string>
	<key>0475</key>
	<string>通辽市</string>
	<key>0476</key>
	<string>赤峰市</string>
	<key>0477</key>
	<string>东胜市</string>
	<key>0478</key>
	<string>临河市</string>
	<key>0479</key>
	<string>锡林浩特</string>
	<key>0482</key>
	<string>乌兰浩特</string>
	<key>0483</key>
	<string>阿拉善左旗</string>
	<key>0510</key>
	<string>无锡市</string>
	<key>0511</key>
	<string>镇江市</string>
	<key>0512</key>
	<string>苏州市</string>
	<key>0513</key>
	<string>南通市</string>
	<key>0514</key>
	<string>扬州市</string>
	<key>0515</key>
	<string>盐城市</string>
	<key>0516</key>
	<string>徐州市</string>
	<key>0517</key>
	<string>淮安市</string>
	<key>0518</key>
	<string>连云港</string>
	<key>0519</key>
	<string>常州市</string>
	<key>0523</key>
	<string>泰州市</string>
	<key>0530</key>
	<string>菏泽市</string>
	<key>0531</key>
	<string>济南市</string>
	<key>0532</key>
	<string>青岛市</string>
	<key>0533</key>
	<string>淄博市</string>
	<key>0534</key>
	<string>德州市</string>
	<key>0535</key>
	<string>烟台市</string>
	<key>0536</key>
	<string>淮坊市</string>
	<key>0537</key>
	<string>济宁市</string>
	<key>0538</key>
	<string>泰安市</string>
	<key>0539</key>
	<string>临沂市</string>
	<key>0550</key>
	<string>滁州市</string>
	<key>0551</key>
	<string>合肥市</string>
	<key>0552</key>
	<string>蚌埠市</string>
	<key>0553</key>
	<string>芜湖市</string>
	<key>0554</key>
	<string>淮南市</string>
	<key>0555</key>
	<string>马鞍山</string>
	<key>0556</key>
	<string>安庆市</string>
	<key>0557</key>
	<string>宿州市</string>
	<key>0558</key>
	<string>阜阳市</string>
	<key>0559</key>
	<string>黄山市</string>
	<key>0561</key>
	<string>淮北市</string>
	<key>0562</key>
	<string>铜陵市</string>
	<key>0563</key>
	<string>宣城市</string>
	<key>0564</key>
	<string>六安市</string>
	<key>0565</key>
	<string>巢湖市</string>
	<key>0566</key>
	<string>贵池市</string>
	<key>0570</key>
	<string>衢州市</string>
	<key>0571</key>
	<string>杭州市</string>
	<key>0572</key>
	<string>湖州市</string>
	<key>0573</key>
	<string>嘉兴市</string>
	<key>0574</key>
	<string>宁波市</string>
	<key>0575</key>
	<string>绍兴市</string>
	<key>0576</key>
	<string>台州市</string>
	<key>0577</key>
	<string>温州市</string>
	<key>0578</key>
	<string>丽水市</string>
	<key>0579</key>
	<string>金华市</string>
	<key>0580</key>
	<string>舟山市</string>
	<key>0591</key>
	<string>福州市</string>
	<key>0592</key>
	<string>厦门市</string>
	<key>0593</key>
	<string>宁德市</string>
	<key>0594</key>
	<string>莆田市</string>
	<key>0595</key>
	<string>晋江市</string>
	<key>0596</key>
	<string>漳州市</string>
	<key>0597</key>
	<string>龙岩市</string>
	<key>0598</key>
	<string>三明市</string>
	<key>0599</key>
	<string>南平市</string>
	<key>0660</key>
	<string>汕尾市</string>
	<key>0661</key>
	<string>潮阳市</string>
	<key>0662</key>
	<string>阳江市</string>
	<key>0663</key>
	<string>揭西市</string>
	<key>0691</key>
	<string>景洪市</string>
	<key>0692</key>
	<string>潞西市</string>
	<key>0701</key>
	<string>鹰潭市</string>
	<key>0710</key>
	<string>襄城市</string>
	<key>0711</key>
	<string>鄂州市</string>
	<key>0712</key>
	<string>孝感市</string>
	<key>0713</key>
	<string>黄州市</string>
	<key>0714</key>
	<string>黄石市</string>
	<key>0715</key>
	<string>咸宁市</string>
	<key>0716</key>
	<string>荆沙市</string>
	<key>0717</key>
	<string>宜昌市</string>
	<key>0718</key>
	<string>恩施市</string>
	<key>0719</key>
	<string>十堰市</string>
	<key>0722</key>
	<string>随枣市</string>
	<key>0724</key>
	<string>荆门市</string>
	<key>0728</key>
	<string>江汉市</string>
	<key>0730</key>
	<string>岳阳市</string>
	<key>0731</key>
	<string>长沙市</string>
	<key>0732</key>
	<string>湘潭市</string>
	<key>0733</key>
	<string>株州市</string>
	<key>0734</key>
	<string>衡阳市</string>
	<key>0735</key>
	<string>郴州市</string>
	<key>0736</key>
	<string>常德市</string>
	<key>0737</key>
	<string>益阳市</string>
	<key>0738</key>
	<string>娄底市</string>
	<key>0739</key>
	<string>邵阳市</string>
	<key>0743</key>
	<string>吉首市</string>
	<key>0744</key>
	<string>张家界</string>
	<key>0745</key>
	<string>怀化市</string>
	<key>0746</key>
	<string>永州冷</string>
	<key>0751</key>
	<string>韶关市</string>
	<key>0752</key>
	<string>惠州市</string>
	<key>0753</key>
	<string>梅州市</string>
	<key>0754</key>
	<string>汕头市</string>
	<key>0755</key>
	<string>深圳市</string>
	<key>0756</key>
	<string>珠海市</string>
	<key>0757</key>
	<string>佛山市</string>
	<key>0758</key>
	<string>肇庆市</string>
	<key>0759</key>
	<string>湛江市</string>
	<key>0760</key>
	<string>中山市</string>
	<key>0762</key>
	<string>河源市</string>
	<key>0763</key>
	<string>清远市</string>
	<key>0765</key>
	<string>顺德市</string>
	<key>0766</key>
	<string>云浮市</string>
	<key>0768</key>
	<string>潮州市</string>
	<key>0769</key>
	<string>东莞市</string>
	<key>0770</key>
	<string>防城港</string>
	<key>0771</key>
	<string>南宁市</string>
	<key>0772</key>
	<string>柳州市</string>
	<key>0773</key>
	<string>桂林市</string>
	<key>0774</key>
	<string>梧州市</string>
	<key>0775</key>
	<string>玉林市</string>
	<key>0776</key>
	<string>百色市</string>
	<key>0777</key>
	<string>钦州市</string>
	<key>0778</key>
	<string>河池市</string>
	<key>0779</key>
	<string>北海市</string>
	<key>0790</key>
	<string>新余市</string>
	<key>0791</key>
	<string>南昌市</string>
	<key>0792</key>
	<string>九江市</string>
	<key>0793</key>
	<string>上饶市</string>
	<key>0794</key>
	<string>临川市</string>
	<key>0795</key>
	<string>宜春市</string>
	<key>0796</key>
	<string>吉安市</string>
	<key>0797</key>
	<string>赣州市</string>
	<key>0798</key>
	<string>景德镇</string>
	<key>0799</key>
	<string>萍乡市</string>
	<key>0810</key>
	<string>涪陵市</string>
	<key>0811</key>
	<string>重庆市</string>
	<key>0812</key>
	<string>攀枝花</string>
	<key>0813</key>
	<string>自贡市</string>
	<key>0814</key>
	<string>永川市</string>
	<key>0816</key>
	<string>绵阳市</string>
	<key>0817</key>
	<string>南充市</string>
	<key>0818</key>
	<string>达县市</string>
	<key>0819</key>
	<string>万县市</string>
	<key>0825</key>
	<string>遂宁市</string>
	<key>0826</key>
	<string>广安市</string>
	<key>0827</key>
	<string>巴中市</string>
	<key>0830</key>
	<string>泸州市</string>
	<key>0831</key>
	<string>宜宾市</string>
	<key>0832</key>
	<string>内江市</string>
	<key>0833</key>
	<string>乐山市</string>
	<key>0834</key>
	<string>西昌市</string>
	<key>0835</key>
	<string>雅安市</string>
	<key>0836</key>
	<string>康定市</string>
	<key>0837</key>
	<string>马尔康</string>
	<key>0838</key>
	<string>德阳市</string>
	<key>0839</key>
	<string>广元市</string>
	<key>0840</key>
	<string>泸州市</string>
	<key>0851</key>
	<string>贵阳市</string>
	<key>0852</key>
	<string>遵义市</string>
	<key>0853</key>
	<string>安顺市</string>
	<key>0854</key>
	<string>都均市</string>
	<key>0855</key>
	<string>凯里市</string>
	<key>0856</key>
	<string>铜仁市</string>
	<key>0857</key>
	<string>毕节市</string>
	<key>0858</key>
	<string>六盘水</string>
	<key>0859</key>
	<string>兴义市</string>
	<key>0870</key>
	<string>昭通市</string>
	<key>0871</key>
	<string>昆明市</string>
	<key>0872</key>
	<string>大理市</string>
	<key>0873</key>
	<string>个旧市</string>
	<key>0874</key>
	<string>曲靖市</string>
	<key>0875</key>
	<string>保山市</string>
	<key>0876</key>
	<string>文山市</string>
	<key>0877</key>
	<string>玉溪市</string>
	<key>0878</key>
	<string>楚雄市</string>
	<key>0879</key>
	<string>思茅市</string>
	<key>0881</key>
	<string>东川市</string>
	<key>0883</key>
	<string>临沧市</string>
	<key>0886</key>
	<string>六库市</string>
	<key>0887</key>
	<string>中甸市</string>
	<key>0888</key>
	<string>丽江市</string>
	<key>0890</key>
	<string>儋州市</string>
	<key>0891</key>
	<string>拉萨市</string>
	<key>0892</key>
	<string>日喀则</string>
	<key>0893</key>
	<string>山南市</string>
	<key>0898</key>
	<string>海口市</string>
	<key>0899</key>
	<string>三亚市</string>
	<key>0910</key>
	<string>咸阳市</string>
	<key>0911</key>
	<string>延安市</string>
	<key>0912</key>
	<string>榆林市</string>
	<key>0913</key>
	<string>渭南市</string>
	<key>0914</key>
	<string>商洛市</string>
	<key>0915</key>
	<string>安康市</string>
	<key>0916</key>
	<string>汉中市</string>
	<key>0917</key>
	<string>宝鸡市</string>
	<key>0919</key>
	<string>铜川市</string>
	<key>0930</key>
	<string>临夏市</string>
	<key>0931</key>
	<string>兰州市</string>
	<key>0932</key>
	<string>定西市</string>
	<key>0933</key>
	<string>平凉市</string>
	<key>0934</key>
	<string>西峰市</string>
	<key>0935</key>
	<string>武威市</string>
	<key>0936</key>
	<string>张掖市</string>
	<key>0937</key>
	<string>酒泉市</string>
	<key>0938</key>
	<string>天水市</string>
	<key>0941</key>
	<string>甘南州</string>
	<key>0943</key>
	<string>白银市</string>
	<key>0951</key>
	<string>银川市</string>
	<key>0952</key>
	<string>石嘴山</string>
	<key>0953</key>
	<string>吴忠市</string>
	<key>0954</key>
	<string>固原市</string>
	<key>0971</key>
	<string>西宁市</string>
	<key>0972</key>
	<string>海东市</string>
	<key>0973</key>
	<string>同仁市</string>
	<key>0974</key>
	<string>共和市</string>
	<key>0975</key>
	<string>玛沁市</string>
	<key>0976</key>
	<string>玉树市</string>
	<key>0977</key>
	<string>德令哈</string>
	<key>852</key>
	<string>香港</string>
	<key>853</key>
	<string>澳门</string>
</dict>
</plist>
